*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "42dot Sans", serif;
}

a{
    text-decoration: none;
    color:#555;
}
/* <!-- -------------------------------- 메인 --> */

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;

}

/* class="list-nav" */
.list-nav{
    flex: 1;
    text-align: right;
}

.list-nav{
    display: inline-block;
    list-style-type: none;
}

.list-nav li{
    display: inline-block;
    margin-right: 20px;
}


.sub-title{
    color:#555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

#main_img{
    max-width: 100%;
    padding: 50px 0;
}

.main-title{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.link-btn{
    display: inline-block;
    background: #c73bff;
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.link-btn:hover{
    background: #885188;
}

.header{
    background: radial-gradient(#fff,#ffd6d6);
}

.header .row{
    margin-top: 70px;
}

/* <!-- -------------------------------- 카테고리스 --> */

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

/* #category1 ,  */
.col-3 img{
    width: 100%;
}

/* <!-- -------------------------------- 인기있는 상품들  --> */

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

/*  #product1 */
.col-4 img{
    width: 100%;
}

.product-title , .latest-title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:#555;
}


.product-title::after , .latest-title::after{
    content:'';
    background: #ec37b0;
    width: 124px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 44%;
    transition: translateX(-50%);
}

.product-name{
    color:#555;
    font-weight: normal;
}

.price{
    font-size: 14px;
}

.rating .fas, .rating .far{
    color:#ec37b0;
}

.col-4:hover{
    transform: translateY(-5px);
}


/* <!-- --------------------------------  최근 상품 --> */

.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2, .offer-img{
    padding: 50px;
}

.exclusive-subtitle{
    color:#555;
}

/* <!-- --------------------------------  후기 --> */

.review{
    padding-top: 100px;

}

.review .col-3{
    text-align: center;
    padding: 40px 20px;
}


.review-user {
    width:50px;
    margin-top:20px;
    border-radius: 50%;
}




